---
layout: cv
permalink: /cv/
title: CV
---

<section class="container">

<h1>
  Ian Huang     
  <a href="{{ "/report/Ian Huang's Resume.pdf" | relative_url }}" class="button">
    <i class="fas fa-chevron-circle-right"></i>
    Download CV
  </a>
</h1>


<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Get the latest version at <a href="{{ '/cv' | absolute_url }}">www.domoritz.de/cv</a>.</small>
<div class="header-columns">
  Ph.D. Student at<b>&nbsp<a href="https://www.ntu.edu.tw/english/">National Taiwan University</a>&nbsp</b>
</div>

<h2>Research Interests</h2>

<p>
&#x2022 Antenna
&#x2022 Qubit Control and Readout
&#x2022 Monolithic Microwave Integrated Circuits (MMIC)
&#x2022 Cryogenic ICs
</p>

<h2>Education & Position</h2>
<article>
  <div class="date-container">
    <span class="date"> 2017 - Now </span>
    <h3>National Taiwan University</h3>
  </div>
  <p>
    <span>Ph.D. in Communication Engineering (ongoing)</span>
    <br>
    <span> 
      &#x2800 - Advisor: Dr. Shih-Yuan Chen <br>
      &#x2800 -	 Research focus: Integration with spin qubit <br>
    </span>
  </p>
</article>
<article>
  <div class="date-container">
    <span class="date"> 2012-2016 </span>
    <h3>University of Michigan, Ann Arbor, USA</h3>
  </div>
  <p>
    <span>B.S. in Mechanical Engineering</span>
    <br>
    <span> 
      &#x2800 -	Research focus: linkages and wheelchairs<br>
    </span>
  </p>
</article>



<!-- {% for ed in site.data.education %}
<article>
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
</article>
{% endfor %} -->


<h2>Research Experience</h2>

<p>
<h3>&#x2022 RFICs</h3>
<div>&#x2800 Taped out a 28-bit Serial-Peripheral Interface IC for bias voltage control using 0.18um CMOS Technology</div>
<div>&#x2800 Taped out a 29GHz 1Watt GaAs Power Amplifier using P15 D-Mode pHEMT Technology</div>
<div>&#x2800 Taped out a 29GHz IQ Up-Converter using 0.18um CMOS Technology</div>
<div>&#x2800 Researched using Neural Networks to control bias voltages for mixers to obtain better performance across a wider bandwidth</div>
<div>&#x2800 Researched using Glass Interposers for 2.5D IC Packaging</div>
<h3>&#x2022 Long range transceiver design and fabrication</h3>
<div>&#x2800 Managed and designed the transmitter and receiver systems for long-range GPS wireless transmission</div>
<div>&#x2800 Created an Android app written in React Native to display GPS data stream and compass direction</div>
<div>&#x2800 Designed and created prototype cases for modules used for GPS tracking using Solidworks</div>
<div>&#x2800 Designed and fabricated cases for transceiver and receiver modules using Autodesk Inventor</div>
</p>

<h2>Publications</h2>

{% assign sorted_pubs = site.publications | reverse %}


<!-- {% assign types = "Conference|Journal" | split: "|" %} -->
{% assign types = "Conference|Magazine" | split: "|" %}
{% for type in types %}
  {% assign counter = 1 %}
  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}

  <!-- <h3 class="pub-type">
    {{ type }}
  </h3> -->

  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | minus: 1 %}
      <article class="pub">
        <!-- <div class="ref-container">{{ type | slice: 0 }}{{ counter }}</div> -->
        <strong class="fill">{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{%endif%}</strong>
        <div>
          {% for author in pub.authors %}{% include person person=author %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
          {% if pub.venue or pub.description %}<i>{% if pub.description %}{{ pub.description | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}{{ pub.venue }}</i>{% if pub.venue %},{% endif %} {% endif %}{{ pub.year }}({{ pub.status }}).

          {% if pub.link or pub.pdf or pub.video or pub.blog or pub.slides or pub.doi %}
            <div class="extra-links">
            {% if pub.pdf %}
              <a href="{{ pub.pdf }}">
                <i class="far fa-file-pdf" aria-hidden="true"></i> PDF
              </a>
            {% endif %}
            {% if pub.link %}
              <a href="{{ pub.link }}">
                <i class="fas fa-link" aria-hidden="true"></i> Project
              </a>
            {% endif %}
            {% if pub.blog %}
              <a href="{{ pub.blog }}">
                <i class="fas fa-newspaper" aria-hidden="true"></i> Article
              </a>
            {% endif %}
            {% if pub.video %}
              <a href="{{ pub.video }}">
                <i class="fas fa-film" aria-hidden="true"></i> Video
              </a>
            {% endif %}
            {% if pub.doi %}
              <a href="https://www.doi2bib.org/bib/{{ pub.doi }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% elsif pub.arxiv %}
              <a href="https://arxiv2bibtex.org/?q={{ pub.arxiv | cgi_escape }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% endif %}
            </div>
          {% endif %}

          {% for award in pub.awards %}<strong class="award"><i class="fas fa-{% if award == "Best Paper Award" %}trophy{% else %}award{% endif %}" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
{% endfor %}

<h2>Awards</h2>

{% for award in site.data.awards %}
<article>
  <div class="date-container">
    <span class="date">{{ award.year | replace: "-", "–" }}</span>
    <strong class="fill">{{ award.title }}</strong>
    <!-- <span class="right">{{ award.sponsor }}</span> -->
  </div>
  <div>
    {{ award.brief }}
  </div>
</article>
{% endfor %}

<h2>Skills</h2>
<h3>&#x2022 Electromagnetic Software</h3>
<div>&#x2800 Ansys HFSS, Keysight ADS, Sonnet, Cadence</div>
<h3>&#x2022 Microwave Device Measurement</h3>
<div>&#x2800 NSI2000 Antenna Measurement System, Vector Network Analyzer, and Spectrum Analyzer</div>
<h3>&#x2022 Embedded Systems</h3>
<div>&#x2800 Arduino, Raspberry Pi, and Arm Cortex-M processers (STM32)</div>
<h3>&#x2022 PCB Layout and Fabrication</h3>
<h3>&#x2022 General Purpose Software</h3>
<div>&#x2800 C++, Python, Matlab, HTML, and CSS</div>
<h3>&#x2022 3D Modeler</h3>
<div>&#x2800 Solidworks, Autodesk Inventor, and AutoCAD</div>




</section>
